In [1]:
import sqlalchemy
print(sqlalchemy.__version__)

1.4.49

### Connect db

In [2]:
%load_ext sql

In [6]:
%sql sqlite:///indo_spotify.db

'Connected: @indo_spotify.db'

### Check Table Avaiable

In [7]:
%%sql
SELECT name FROM sqlite_master WHERE type='table';

 * sqlite:///indo_spotify.db
   sqlite:///spotify_data.db
Done.

[('artist',),
 ('artist_genre',),
 ('album',),
 ('album_artist',),
 ('track',),
 ('track_artist',)]

### Simple EDA

In [31]:
# Count of artists, albums, and tracks

In [10]:
%%sql
SELECT 
    (SELECT COUNT(*) FROM artist) AS total_artist,
    (SELECT COUNT(*) FROM album) AS total_album,
    (SELECT COUNT(*) FROM track) AS total_track;

 * sqlite:///indo_spotify.db
   sqlite:///spotify_data.db
Done.

[(3, 30, 30)]

In [30]:
# Artist with the most followers

In [11]:
%%sql
SELECT name, followers_total
FROM artist
ORDER BY followers_total DESC;

 * sqlite:///indo_spotify.db
   sqlite:///spotify_data.db
Done.

[('Hindia', 8086566), ('.Feast', 2341929), ('Lomba Sihir', 256616)]

In [29]:
# Most popular genres

In [12]:
%%sql
SELECT genre, COUNT(artist_id) AS artist_count
FROM artist_genre
GROUP BY genre
ORDER BY artist_count DESC;

 * sqlite:///indo_spotify.db
   sqlite:///spotify_data.db
Done.

[('indonesian indie', 3), ('indorock', 1), ('indonesian pop', 1)]

In [28]:
# Album with the most tracks

In [15]:
%%sql
SELECT album_name, total_tracks
FROM album
ORDER BY total_tracks DESC
LIMIT 5;

 * sqlite:///indo_spotify.db
   sqlite:///spotify_data.db
Done.

[('Lagipula Hidup Akan Berakhir', 28),
 ("Doves, '25 on Blank Canvas", 16),
 ('Obrolan Jam 3 Pagi', 16),
 ('Menari Dengan Bayangan', 15),
 ('Membangun & Menghancurkan', 15)]

In [27]:
# Popular tracks by popularity

In [16]:
%%sql
SELECT track_name, popularity
FROM track
ORDER BY popularity DESC
LIMIT 10;

 * sqlite:///indo_spotify.db
   sqlite:///spotify_data.db
Done.

[('Rumah Ke Rumah', 85),
 ('Cincin', 84),
 ('Tarot', 84),
 ('everything u are', 83),
 ('Nina', 83),
 ('Evaluasi', 82),
 ('semua lagu cinta terdengar sama', 82),
 ('o,Tuan', 82),
 ('Secukupnya', 80),
 ('Kita Ke Sana', 79)]

In [26]:
# Popularity distribution

In [17]:
%%sql
SELECT 
    AVG(popularity) AS avg_popularity,
    MIN(popularity) AS min_popularity,
    MAX(popularity) AS max_popularity
FROM track;

 * sqlite:///indo_spotify.db
   sqlite:///spotify_data.db
Done.

[(70.73333333333333, 51, 85)]

In [25]:
# Average duration of tracks by artist

In [20]:
%%sql
SELECT ar.name, AVG(t.duration_ms)/60000 AS avg_duration_min
FROM artist ar
JOIN track_artist ta ON ar.artist_id = ta.artist_id
JOIN track t ON ta.track_id = t.track_id
GROUP BY ar.artist_id, ar.name
ORDER BY avg_duration_min DESC;

 * sqlite:///indo_spotify.db
   sqlite:///spotify_data.db
Done.

[('.Feast', 4.440803333333333),
 ('Hindia', 4.179403333333333),
 ('Lomba Sihir', 4.0133600000000005)]

In [24]:
# Album with the most tracks

In [33]:
%%sql
SELECT al.album_name, t.track_name, t.popularity
FROM album al
JOIN track t ON al.album_id = t.album_id
ORDER BY t.popularity DESC
LIMIT 5;

 * sqlite:///indo_spotify.db
   sqlite:///spotify_data.db
Done.

[('Menari Dengan Bayangan', 'Rumah Ke Rumah', 85),
 ('Membangun & Menghancurkan', 'Tarot', 84),
 ("Doves, '25 on Blank Canvas", 'everything u are', 83),
 ('Membangun & Menghancurkan', 'Nina', 83),
 ("Doves, '25 on Blank Canvas", 'semua lagu cinta terdengar sama', 82)]

In [36]:
# Most popular tracks by popularity more detail

In [35]:
%%sql
SELECT 
    t.track_name, 
    ar.name AS artist_name,
    t.popularity,
    al.album_name,
    al.album_group
FROM track t
JOIN track_artist ta ON t.track_id = ta.track_id
JOIN artist ar ON ta.artist_id = ar.artist_id
JOIN album al ON t.album_id = al.album_id
ORDER BY t.popularity DESC
LIMIT 5;

 * sqlite:///indo_spotify.db
   sqlite:///spotify_data.db
Done.

[('Rumah Ke Rumah', 'Hindia', 85, 'Menari Dengan Bayangan', 'album'),
 ('Tarot', '.Feast', 84, 'Membangun & Menghancurkan', 'album'),
 ('everything u are', 'Hindia', 83, "Doves, '25 on Blank Canvas", 'album'),
 ('Nina', '.Feast', 83, 'Membangun & Menghancurkan', 'album'),
 ('Evaluasi', 'Hindia', 82, 'Menari Dengan Bayangan', 'album')]